html,
body {
  margin: 0;
}

@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "MaplestoryOTFBold";
}

body {
  width: 100vw;
  height: 100vh;

  /* Center Container */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Coloring */
  background: #2ec1ac;
}

input,
button,
ul,
p {
  all: unset;
}

.container {
  width: 350px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  background: white;
}

h2{
  font-size: 19.2px;
  padding: 0px 15px;
  margin: 16px 0px;
}

ul {
  list-style: none;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
}

.input{
  display: flex;
  flex-direction: row; 
  align-items: center;

  height: 50px;
  padding: 8px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#todo-new {
  flex: 1;

  margin: 0px 8px 0px 0px;
  padding: 3.2px;
  text-align: center;

  border:1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

#button-submit{
  display: flex;
  justify-content: center;

  width: 34px;
  height: 34px;
  border-radius: 50%;

  background-color: #2ec1ac;
  color: white;
}

#todo-new::placeholder{
  color: rgba(0, 0, 0, 0.2);
}

.delete{
  background: url("img/bin.png");
  background-repeat: no-repeat;
  background-size: contain;

  width: 20px;
  height: 20px;

  opacity: 0;
  
  transition-property: opacity;
  transition-duration: 0.5s;
}

.todo:hover .delete{
  opacity: 1;
}