html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  /* Center Container */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Coloring */
  background: #2ec1ac;
}

input,
button,
ul,
p {
  all: unset;
}

.container {
  width: 350px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  background: white;
}

.input {
  height: 50px;
  padding: 8px;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#todo-input {
  flex: 1;
  padding: 0.2rem;
  margin-right: 0.5rem;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;

  font-size: 1rem;
  text-align: center;
}

#todo-input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.2);
}

#add-button {
  width: 34px;
  height: 34px;
  border-radius: 17px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #2ec1ac;
  color: white;
  -webkit-text-fill-color: white;
  font-weight: 100;
}

h2 {
  /* text-align: center; */
  padding: 0 15px;
  font-size: 1.2rem;
}

.todos {
  padding: 0 15px;

  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  padding: 3px 0;
}

.todo p {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.todos .todo p {
  list-style-type: circle;
}

.todos.complete .todo p {
  text-decoration: line-through;
  color: grey;
  -webkit-text-fill-color: grey;
}

.delete {
  width: 20px;
  height: 20px;
  background: url("img/bin.png") no-repeat;
  background-size: contain;

  opacity: 0;
  transition: opacity 0.4s ease;
}

.todo:hover .delete {
  opacity: 1;
}
