html,
body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    /* Center Container */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Coloring */
    background: #2ec1ac;
}

input,
button,
ul,
p {
    all: unset;
}

.container {
    width: 350px;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    background: white;
}

.b {
    width: 50px;
    display: inline-block;
    border: red;
    background-color: #16a085;
    border-radius: 13px;
    color: white;
    padding: 1px 2px;
    font-weight: 600;
    text-align: center;
    transition-duration: 0.4s;
}
.b:hover {
    background-color: white;
    color: aqua;
}
.b:active {
    outline: white;
    background-color: rgb(99, 187, 187);
}

#todo-list,
#done-list {
    border: red solid 1px;
    width: 350px;
    height: 290px;
    margin-bottom: 2px;
    font: 1rem 'Fira Sans', sans-serif;
    font-weight: bold;
    padding: 5px;
    overflow: scroll;
}

.input-box {
    display: flex;
    margin-top: 2px;
}
.input-box > input {
    border-radius: 5px;
    text-align: center;
}
.input-box > input:focus {
    background-color: white;
}
