html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'ImcreSoojin';
}

@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
          

body {
  width: 100vw;
  height: 100vh;

  /* Center Container */
  display: flex; 
  align-items: center;
  justify-content: center;   

  /* Coloring */
  background: #2ec1ac;
}

/* input, */
/* button, */
ul,
li,
p {
  all: unset;
}

li {
  padding: 2px 5px;
}

button {   /* 조금만 UI를 수정해도 같이 무너지는 요소들이 많은듯 하다 */
  /* button */
  width: 40px;
  height: 35px;
  margin-left: 10px;

  background-color: #2ec1ac;
  color: white;

  border-radius: 50%;
  border: none;
  outline: 0;

  display: inline-flex;
  text-align: center;


  /* text */
  padding-left: 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;

}

.container {
  width: 350px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  background: white;
}

/* 대기중 개수 */
.wait {
  padding: 15px 15px 5px 15px;
  font-weight: bold;
  font-size: 17px;
}

/* 완료 개수 */
.complete {
  padding: 15px 15px 5px 15px;
  font-weight: bold;
  font-size: 17px;
}

/* 완료 시 선긋기 */
#completeList {
  text-decoration: line-through;
  color: #a7a7a7;
}

/* todo 목록 */
.list {
  height: 10px;     /* list div의 크기 고정 위해 */
  flex-grow: 8;
  padding: 10px 10px;

  overflow: scroll;
  overflow-x: hidden;

  /* inner items */
  display: flex;
  flex-direction: column;
}

/* 할 일 추가 */
.add {
  display: inline-flex;
  flex-grow: 0.8;

  justify-content: center;
  align-items: center;

  padding: 0 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* 할 일 추가 input */
#add_input {
  /* input */
  width: 100%;
  height: 70%;
  border-width: 0.7px;
  border-radius: 20px;
  border-color: #c4c4c4;
  outline: none;

  align-items: stretch;

  /* text */
  text-align: center;
  font-size: 15px;
}

#add_input::placeholder {
  color: #c4c4c4;
}

/* trashcan image */
.listbox img {
  width: 20px;
  height: 20px;
  
  opacity: 0;
  transition: 0.3s;
}

.listbox img:hover {
  opacity: 1;
}

/* todo */
.listbox {
  display: inline-flex;
  align-items: center;
}

.listbox:hover > img{
  opacity: 1;
}

.listbox li {
  width: 88%;
}

