html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  /* Center Container */
  display: flex; 
  align-items: center;
  justify-content: center;   

  /* Coloring */
  background: #2ec1ac;
}

/* input, */
/* button, */
ul,
li,
p {
  all: unset;
}

li {
  /* width: 100% */
  padding: 2px 5px;
}

button {
  /* padding: 10px 10px; */
  width: 4vw;
  height: 5vh;
  margin-left: 10px;
  padding-left: 3.5%;

  background-color: #2ec1ac;
  color: white;
  font-size: 12px;
  border-radius: 75px;
  border: none;
  outline: 0;
  line-height: 4vh;
  
  display: inline-flex;
  align-content: center;

}

.container {
  width: 350px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  background: white;
}

/* .inner-container {
  height: 100%;
  flex-direction: column; 
  display: flex;
} */

.wait {
  /* flex-grow: 1; */
  padding: 10px 10px;
}

.complete {
  /* flex-grow: 1; */
  padding: 10px 10px;
}

.list {
  flex-grow: 8;
  padding: 10px 10px;

  overflow: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.add {
  /* flex-grow: 0.5; */
  flex-grow: 0.8;
  padding: 0 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* border-top: 1px solid black; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#add_input {
  /* display: inline-flex; */
  width: 100%;
  height: 70%;
  align-items: stretch;
  text-align: center;

  border-radius: 20px;
  border-color: #c4c4c4;
  /* border: #c4c4c4; */
  outline: none;
  font-size: 15px;
}

#add_input::placeholder {
  color: #c4c4c4;
}

.listbox button {
  width: 5%;
  height: 80%;

  display: inline-flex;
}

.listbox img {
  width: 20px;
  height: 20px;
}

.listbox {
  display: inline-flex;
  align-items: center;
}

.listbox li {
  width: 88%;
}